
/* body {
    font-family: sans-serif;
} */

/* table {
    border-collapse: collapse;
    width: 100%;
} */

/* th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
} */

.HomePage {
    color: #007bff;
    font-size: 2.5em;
    margin-top: 20px;
    /* border-radius: 50px; */
    background-color: #FFCC01;
    font-size: 50px;
    color: red;
    font-weight: bolder;
}

.PrivacyPolicy {
    color: #28a745;
    font-size: 2em;
    margin-top: 20px;
    background-color: #FFCC01;
    font-size: 40px;
    color: red;
    font-weight: bolder;
}