@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="HomeDiv">
    <h1 class="HomePage"> Welcome to DHL Express </h1>
    <p> More Details <a href="https://www.dhl.com/in-en/home/tracking.html"> Click Here </a></p>
</div>
